<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form th:action="@{/login}" method="post">
    <div><label> Username-> <input type="text" name="j_username"/> </label></div>
    <div><label> Password-> <input type="password" name="j_password"/> </label></div>
    <div><input type="submit" value="Log in"/></div>
</form>

<div th:if="${param.error}">
    Invalid username/password.
</div>

<div th:if="${param.logout}">
    You are logged out.
</div>

</body>
</html>