<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User ordinary</title>
</head>

<body>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
<br/>
<h1>User ordinary</h1>

</div>
<table border="1" style="width:500px">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    <tr>
        <td th:text="${user.name}">name</td>
        <td th:text="${user.surname}">surname</td>
        <td th:text="${user.phone}">phone</td>
        <td th:text="${user.email}">email</td>
    </tr>

</table>
</div>
</body>
</html>