<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>

<div>
    <h2>User Info</h2>
    <br>

    <form th:action="@{/saveUser}" th:object="${user}">


        <input type="hidden" th:field="*{id}"/>
        Name <input type="text" th:field="*{name}"/>
        <br><br>
        Surname <input type="text" th:field="*{surname}"/>
        <br><br>
        Phone <input type="text" th:field="*{phone}"/>
        <br><br>
        Email <input type="text" th:field="*{email}"/>
        <br><br>
       <!-- <input type="submit" value="OK">-->
        <button type="submit" class="btn btn-success">Ok</button>

    </form>
    </form>
</div>
</body>
</html>